<footer class="mt-5">
    <p>
        Copyright &copy; <span x-text="new Date().getFullYear()"></span>
        <a href="https://github.com/barcellos-pedro" target="_blank"> Pedro Barcellos dos Reis</a>
    </p>
</footer>